.containercontrolescheckout {  display: grid;
    align-items: center;
    justify-items: end;
    max-width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . qtytotal"
      ". . . total"
      ". . btnvaciar btnfinalizarcompra";
  }

  .qtycart{
    font-weight: 600;
  }
  
  .qtytotal { grid-area: qtytotal; font-size: 0.8rem; }
  
  .total { grid-area: total; }
  
  .btnvaciar { grid-area: btnvaciar; }
  
  .btnfinalizarcompra { grid-area: btnfinalizarcompra; }

  .containercheckout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  