.btnVolver{
    background-color: #ffffff00;
    color: rgb(101, 112, 107);
    font-size: 12px;
    border-radius: 1px;
    border: 1px solid rgba(114, 114, 114, 0.712);
    padding: 7px;
    font-weight:normal;
    text-decoration: none;
    margin: 35px 10px 10px 10px;
}

.btnVolver:hover{
    background-color: #63739e;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}

.cardBodyDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.itamDetailStockDisplay{
    text-align: center;
    font-size: small;
    color: #5c6785c7;
}

.cardDetail{
    max-width: 40vw;
} 

@media (max-width: 1024px) {
    .cardDetail{
        align-items: center;
        max-width: 60vw;
    } 
}

@media (max-width: 425px) {
    .cardDetail{
        align-items: center;
        max-width: 80vw;
    } 
}
