:root {
  --color-primary: #1B2DCC;
  --color-secondary: #0059fd;
  --color-background: #ffffff;
  --color-text: #000000;
  --color-accent: #22FF9F;
  --color-dark: #333333;
  --blanco-variante2: #f0f0f0;
  --azulk: #123456;
  --blanco_puro: #ffffff;
  --negrok: #000000;
  --verdek: #00ff00;
}


/*---------------------------- HEADER ------------------------- */

/* Quitamos los estilos del toggler icon de Boostrap */
.navbar-toggler:focus {
  box-shadow: none;
}

/* Animacion underline para anchors del navbar */
.nav-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 0;
  background-color: #0EAE93;
  transition: width 0.4s ease-out;
}

.nav-link:hover::before {
  width: 100%;
  transition: width 0.4s ease-out;
}

.nav-link:hover::after {
  width: 0;
  transition: width 0.4s ease-out;
}

.nav-link:hover::before {
  left: 0;
}

.nav-link:hover::after {
  right: 0;
}

/* Animacion logo navbar */
.logo {
  transition: transform 0.6s ease-in-out;
}

.logo:hover {
  transform: scale(1.0625);
}

.logo:hover~.logo {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.cartIncon {
  width: 25px;
  padding-right: 5px;
}

/* Barra de categorias */

.categories-bar {
  width: 100%;
  height: 30px;
  background-color: var(--color-primary);
  border-top: 1px solid #d9d9d9;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.categories-bar ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.categories-bar li {
  list-style-type: none;
  margin: 0 10px;
  position: static;
  text-align: center;
}

.categories-bar li a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  gap: 5px;
}

.categories-bar li:hover{
  font-weight: 500;
}

/* Item list */
.ItemListContainer{
  display: flex;
  justify-content: center;
  
}
