.itemListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 30px;
}

.tituloListContainer{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}